/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  width: 60%;
}
body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.main-container {
  border: 1px solid black;
  width: 800px;
  height: 400px;
  margin: 3% auto;
  display: flex;
}
.cocktail-description{
  width: 60%;
  padding: 2%;
}

.cocktail-img {
  border: 1px solid blue;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients-list{
  display: flex;
  justify-content: space-around;
}

.ingredients-list li {
  list-style: none;
  border: 1px solid black;
  width: 80px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-ingredient{
  width: 100%;
}